<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>239296333314-k79crkgatsl6hb64e6q712d78tktovi8.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.239296333314-k79crkgatsl6hb64e6q712d78tktovi8</string>
	<key>API_KEY</key>
	<string>AIzaSyBck74xn89ySR4V2t5PWM3jOfpZnCDvgNA</string>
	<key>GCM_SENDER_ID</key>
	<string>239296333314</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.googleMap</string>
	<key>PROJECT_ID</key>
	<string>sign-f7366</string>
	<key>STORAGE_BUCKET</key>
	<string>sign-f7366.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:239296333314:ios:96a141b13ccc6ee1b2091b</string>
</dict>
</plist>